<div class="body-content">
  <div class="section-zero my-3 py-3">
    <div class="section-zero-one">
      <h5>Basic info about componay</h5>
      <div class="display-4">Wexim - A Creative Design Agency in NewYork, USA</div>
    </div>
    <div class="section-zero-one">
      <div>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam
        eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel
        tristique risus faucibus.
        <br /><br />
        Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam
        eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</div>
    </div>
  </div>
  <!-- <div class="section-one my-5 py-5">
    <div class="services-text">
      <span class="display-4">Services</span>
    </div>
  </div> -->
  <div class="section-two my-5 py-5">
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">01.</h1>
      <h4>Website Design</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">02.</h1>
      <h4>Website Development</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">03.</h1>
      <h4>Project Management</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
  </div>
  <div class="section-three" data-aos="fadeInUp"></div>
  <div class="section-zero my-3 py-3">
    <div class="section-zero-one" data-aos="fadeInLeft">
      <h5>You can trust us</h5>
      <div class="display-4">We Can Make Your Design</div>
      <p class="text-muted py-4">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum
        auctor nunc vitae diam eleifend, in maximus metus sollicitu eleifend in maximus metus sollicitudin.</p>
    </div>
    <div class="section-zero-one trust-us" data-aos="fadeInRight"></div>
  </div>
</div>
