<div class="body-content">
  <div  id="services-section" class="container section-zero my-3 py-3">
    <div class="section-zero-one">
      <h5>Basic info about componay</h5>
      <div class="display-4">Wexim - A Creative Design Agency in NewYork, USA</div>
    </div>
    <div class="section-zero-one">
      <div>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam
        eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel
        tristique risus faucibus.
        <br /><br />
        Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam
        eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</div>
    </div>
  </div>
  <!-- <div class="section-one my-5 py-5">
    <div class="services-text">
      <span class="display-4">Services</span>
    </div>
  </div> -->
  <div class="container section-two my-5 py-5">
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">01.</h1>
      <h4>Website Design</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">02.</h1>
      <h4>Website Development</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
    <div class="section-two-one" data-aos="fadeInUp">
      <h1 class="display-3 pb-4">03.</h1>
      <h4>Project Management</h4>
      <p class="text-muted">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit
        amet, consectetur
        adipiscing.</p>
    </div>
  </div>
  <div class="section-three" data-aos="fadeInUp"></div>
  <div class="container section-zero my-3 py-3">
    <div class="section-zero-one" data-aos="fadeInLeft">
      <h5>You can trust us</h5>
      <div class="display-4">We Can Make Your Design</div>
      <p class="text-muted py-4">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum
        auctor nunc vitae diam eleifend, in maximus metus sollicitu eleifend in maximus metus sollicitudin.</p>
    </div>
    <div class="section-zero-one trust-us" data-aos="fadeInRight"></div>
  </div>
  <div id="team-section" class="section-zero my-3 py-3">
    <div class="section-zero-one p-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <i class="fa fa-quote-right pb-4" aria-hidden="true"></i>
                <p class="text-muted py-4">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum
                    auctor nunc vitae diam eleifend, in maximus metus sollicitu eleifend in maximus metus sollicitudin.</p>
                <img src="../../../assets/images/profile1.jpg" class="pb-2" />
                <h4 class="pt-2">Albert Max</h4>
                <p class="pb-4 designation">CEO, HUNT Corp.</p>
              </div>
              <div class="carousel-item">
                <i class="fa fa-quote-right pb-4" aria-hidden="true"></i>
                <p class="text-muted py-4">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum
                    auctor nunc vitae diam eleifend, in maximus metus sollicitu eleifend in maximus metus sollicitudin.</p>
                <img src="../../../assets/images/profile2.jpg" class="pb-2" />
                <h4 class="pt-2">John Tick</h4>
                <p class="pb-4 designation">MD, HUNT Corp.</p>
              </div>
              <div class="carousel-item">
                <i class="fa fa-quote-right pb-4" aria-hidden="true"></i>
                <p class="text-muted py-4">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum
                    auctor nunc vitae diam eleifend, in maximus metus sollicitu eleifend in maximus metus sollicitudin.</p>
                <img src="../../../assets/images/profile3.jpg" class="pb-2" />
                <h4 class="pt-2">Morgan Black</h4>
                <p class="pb-4 designation">CFO, HUNT Corp.</p>
              </div>
            </div>
          </div>

    </div>
    <div class="section-zero-one company-numbers" data-aos="fadeInRight">
        <div class="bg-overlay gradient-bg1 opacity-8"></div>
        <div class="numbers">
            <div class="number-row">
                <div class="number-col">
                    <h2>69</h2>
                    <h6>Award Won</h6>
                </div>
                <div class="number-col">
                    <h2>780</h2>
                    <h6>Employees</h6>
                </div>
            </div>
            <div class="number-row">
                <div class="number-col">
                    <h2>456</h2>
                    <h6>Happy Clients</h6>
                </div>
                <div class="number-col">
                    <h2>5990</h2>
                    <h6>Finished Projects</h6>
                </div>
            </div>
            
        </div>
    </div>
  </div>


 
</div>
