<div class="header-content">
  <div class="header-section section-one animated fadeInUp slow">
    <h1>Creative <b>Multipage</b> Template</h1>
    <h5>Perfect For Startups</h5>
    <div class="my-4">
      <button class="btn get-started mx-1 animated fadeInUp slower">Get Started</button>
      <button class="btn btn-outline-dark mx-1 animated fadeInUp slower">Learn More</button>
    </div>
  </div>
  <div class="header-section section-two animated fadeInRight slow"></div>
  <div class="header-section section-three">
    <span class="text-muted mx-3 scroll-down-text">Scroll Down</span>
    <i class="fa fa-long-arrow-down animated fadeInDown slower infinite" aria-hidden="true"></i>
  </div>
</div>
