<div id="connect-section" class="footer-content bg-light">
    <a href=#>
        <i class="fa fa-facebook" aria-hidden="true" data-aos="fadeInUp"></i>
    </a>
    <a href=#>
        <i class="fa fa-twitter" aria-hidden="true" data-aos="fadeInUp"></i>
    </a>
    <a href=#>
        <i class="fa fa-google-plus" aria-hidden="true" data-aos="fadeInUp"></i>
    </a>
    <a href=#>
        <i class="fa fa-share-square" aria-hidden="true" data-aos="fadeInUp"></i>
    </a>
    <p class="text-muted">© 2020 HUNT Corp. Made With Love By Rajesh Kumar</p>
</div>